Repository KaiFish/MoveTheSquare, pull requests merged in 2021-02, with the labels that each got.

#8 Update GameView.java
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, background color

#19 Added & applied new background color
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, background color

#3 Square size
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, size

#22 Jsnyder17
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, size, speed, square color

#7 changed color and size
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/controllers/GameController.java
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, ???, size, square color

#6 Khunt6
  .gitignore
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
  bin/edu/ycp/cs320/movethesquare/controllers/GameController.class
  bin/edu/ycp/cs320/movethesquare/model/Game.class
  bin/edu/ycp/cs320/movethesquare/model/Square.class
  bin/edu/ycp/cs320/movethesquare/ui/GameView$1.class
  bin/edu/ycp/cs320/movethesquare/ui/GameView$2.class
  bin/edu/ycp/cs320/movethesquare/ui/GameView.class
Labels: 9AM, size, square color

#18 Attempt3
  .gitignore
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
  bin/edu/ycp/cs320/movethesquare/controllers/GameController.class
  bin/edu/ycp/cs320/movethesquare/model/Game.class
  bin/edu/ycp/cs320/movethesquare/model/Square.class
  bin/edu/ycp/cs320/movethesquare/ui/GameView$1.class
  bin/edu/ycp/cs320/movethesquare/ui/GameView$2.class
  bin/edu/ycp/cs320/movethesquare/ui/GameView.class
Labels: 9AM, extra files, size

#14 Square Modifications
  .classpath
  .project
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/model/Game.java
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, extra files, size, speed, square color

#2 CS320 Lab 2
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, ???, size, square color

#15 Updated GameView.java
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 9AM, shape, size, square color

#1 Changed the square from solid to hollow
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, square color

#9 Update GameView.java
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, size, square color

#21 Added color Red, changed background to Red, changed cube to blue
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, background color, extra files, square color

#16 Mfeldman1
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, background color, size

#12 esnyder16
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, background color, square color

#17 MoveTheSquare
  .DS_Store
  MoveTheSquare/.DS_Store
  MoveTheSquare/src/.DS_Store
  MoveTheSquare/src/edu/.DS_Store
  MoveTheSquare/src/edu/ycp/.DS_Store
  MoveTheSquare/src/edu/ycp/cs320/.DS_Store
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/.DS_Store
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/.classpath
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/.project
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, extra files, size, square color

#5 made the square thick
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, size

#20 Changed the color and made wide.
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, size, square color

#13 Changed width and height to 42, changed color to pink
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, size, square color

#10 zroberts1
  MoveTheSquare/.project
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, extra files, size, square color

#11 did the required changes
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/controllers/GameController.java
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/model/Game.java
  MoveTheSquare/src/edu/ycp/cs320/movethesquare/ui/GameView.java
Labels: 2PM, ???
